<!-- Main Content -->
<div class="main-content mt-6">
    <div class="page-title">
        Justification d'Absence de :
        <div class="print-icon">🖨</div>
    </div>

    <div class="content-wrapper">
        <!-- Student Information Card -->
        <div class="student-card ">
            <div class="student-header ">
                <div class="student-avatar">👤</div>
                <div class="student-name h-full ">
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4 mb-5">
                        <div class="flex-1">
                            <div class="mb-4 h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <h2 class="mb-2">{{ justification?.result?.etudiant?.nom }}</h2>
                    }
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <p>{{ justification?.result?.etudiant?.prenom }}</p>
                    }
                </div>
            </div>

            <div class="student-details">
                <div class="detail-row">
                    <span class="detail-label">E-mail:</span>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-[90%] rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <span class="detail-value">{{ justification?.result?.etudiant?.email }}</span>
                    }
                </div>
                <div class="detail-row">
                    <span class="detail-label">Matricule:</span>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-[90%] rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <span class="detail-value">{{ justification?.result?.etudiant?.matricule }}</span>
                    }
                </div>
                <div class="detail-row">
                    <span class="detail-label">Niveau:</span>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <span class="detail-value">{{ justification?.result?.etudiant?.niveau }}</span>
                    }
                </div>
                <div class="detail-row">
                    <span class="detail-label">Filière:</span>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <span class="detail-value">{{ justification?.result?.etudiant?.filiere }}</span>
                    }
                </div>
                <div class="detail-row">
                    <span class="detail-label">Classe:</span>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-[90%] rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else {
                    <span class="detail-value">{{ justification?.result?.etudiant?.classe?.nom }}</span>
                    }
                </div>
            </div>

            <div class="action-buttons">
    <button class="action-btn invalidate" (click)="onInvalidateAbsence()">
        ✗ Invalider Absences
    </button>
    <button class="action-btn validate" (click)="onValidateAbsence()">
        ✓ Valider Absences
    </button>
</div>

        </div>

        <!-- Course Information -->
        <div class="flex flex-row gap-2 justify-start items-start ">
            <div class="  p-10 rounded-lg shadow-md flex flex-col items-start justify-flex-start">
                <div class="course-item2 ">
                    <div class="flex-start course-label">Pieces jointes:</div>
                    @if (loading) {
                    <div class="flex w-64 animate-pulse gap-2 p-4">
                        <div class="flex-1">
                            <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                        </div>
                    </div>
                    } @else if (justification?.result?.justificatifs!.length > 0) {
                    @for (justificatif of justification?.result?.justificatifs; track $index) {

                    <div class="rounded-lg">
                        <img [src]="justificatif" [alt]="'Justificatif ' + $index" class="text-blue-500 rounded-2xl" />
                    </div>
                    }
                    } @else {
                    <div class="text-gray-500">Aucun justificatif disponible</div>
                    }
                    
                </div>
            </div>
            <div class="flex flex-col gap-2 justify-start items-start ">
                <div class="bg-white p-20 rounded-lg shadow-md">
                    <div class="course-item ">
                        <span class="course-label">Cours:</span>
                        @if (loading) {
                        <div class="flex w-64 animate-pulse gap-2 p-4">
                            <div class="flex-1">
                                <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                            </div>
                        </div>
                        } @else {
                        <span class="course-value">{{ justification?.result?.absence?.cours?.module }}</span>
                        }

                    </div>
                    <div class="course-item ">
                        <span class="course-label">Salle:</span>
                        @if (loading) {
                        <div class="flex w-64 animate-pulse gap-2 p-4">
                            <div class="flex-1">
                                <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                            </div>
                        </div>
                        } @else {
                        <span class="course-value">{{ justification?.result?.absence?.cours?.salle?.nom }}</span>
                        }

                    </div>
                </div>
                <div class="bg-white p-10 rounded-lg shadow-md flex flex-col items-start justify-flex-start">
                    <div class="course-item2 flex flex-col items-start justify-flex-start mb-4 p-2.5">
                        <div class="flex-start course-label">Message:</div>
                        @if (loading) {
                        <div class="flex w-64 animate-pulse gap-2 p-4">
                            <div class="flex-1">
                                <div class="h-5 w-3/5 rounded-lg bg-slate-400 text-sm"></div>
                            </div>
                        </div>
                        } @else {
                        <div class="course-value">{{ justification?.result?.message }}</div>
                        }
                    </div>
                </div>

            </div>


        </div>
    </div>